<% standard_deviation, nb, mean = discrimination %>
[
<span title="standard deviation of separation among products">sd:<%= "%.2f" % standard_deviation %></span>
,&nbsp;
<span title="number of products separated">nb:<%= nb %></span>
,&nbsp;
<span title="average separation among products">m:<%= "%.2f" % mean %></span>
]