<div class="pkz_box">
  <%= model_selector(@knowledge, :questions) %>
    <div class="pkz_main">
      <% for question in @knowledge.questions %>
        <div class="pkz_item_list">
            <%= render(:partial => "questions/short", :locals => {:knowledge => @knowledge, :question => question }) %>
            <br/>
            <small>
                weight=<%= question.weight %>
                <%= render(:partial => "/questions/discrimination",
                      :locals => {:discrimination => question.discrimination(nil, @products_idurls)}) %>
            </small>
        </div>
      <% end %>
    </div>
</div>
