 <div id="main">
    <div class="box952">

        <h1>Let's find your next phone</h1>
        <ul class="advisors">
          <% for quizze in @knowledge.quizzes %>
             <li>
               <%= image_tag("/domains/#{@knowledge.idurl}/quizzes/#{quizze.idurl}/images/main_image.png") %>
               <%= quizze.label %>
               <%= link_to("<p></p>", "/quizzes/#{@knowledge.idurl}/#{quizze.idurl}") %>
             </li>
          <% end %>
          <div class="spcr"></div>
        </ul>

        stay tuned more to come
    </div>
</div>
