 <div class="pkz_box">
   <%= model_selector(@current_knowledge, :quizzes) %>
     <div class="pkz_main">
       <% for quizze in @current_knowledge.quizzes %>
         <div class="pkz_item_list">
               <%= link_to(quizze.label, "/quizzes/#{@current_knowledge.idurl}/#{quizze.idurl}") %>
         </div>
       <% end %>
     </div>
 </div>
 