<!-- editor for a synonym -->
<div style="background-color:lightgray; padding:4px;">
rien...<%= link_to_remote("close", :url => {  :action => "close_editor", :id => glossary.id  }, :html => {:class => "pkz_link"}) %>
</div>

