

<div class="box952" style="height:300px;">
  <div class="spcr">
      <h1>Pikizi is currently in Private Beta</h1>
  </div>
  <div class="spcr" style="text-align:left; margin-left:15px; margin-top:15px;">
    <h2>Please register...</h2>
  </div>
  <div class="spcr" style="text-align:left; margin-left:15px; margin-top:15px;">
    <%= link_to("start...", "/home") %>
  </div>
</div>




