

<div class="box952" style="height:300px; margin-top:100px;">
  <div style="text-align:center; padding-top:50px;">
      <img src="/images/h_logo.png" width="474"/></a>
      <div style="font-size:150%;">
        Please <%= link_to "register", "/login" %>, we'll let you know as soon as Pikizi becomes available
      </div>
  </div>
</div>




