.pkz_box {
}

.pkz_menu {
	background-color: #ccccff;
	padding:5px;
	margin-bottom:5px;
}

.pkz_menu a {
	color: #660066;
}

.pkz_menu span {
	font-weight: bold;
	margin-right:20px;
}

.pkz_main {
	border: 1px solid black;
	width:100%;
}

.pkz_rating {
	background:url(/images/icons/star.png) no-repeat center center;
    margin-left:-15px;
    margin-right:20px;
    font-size:90%;
    color:blue;
}

.pkz_background {
    background:url(/images/icons/doc16x16.png) no-repeat center center;
    margin-left:2px;
    margin-right:20px;
    font-size:90%;
    color:blue;
}

.pkz_main img {
    border:0px;
}
.pkz_item_list {
	padding:5px;
	margin:5px 0px 0px 0px;
}

.pkz_item_list[answered="true"] {
    background-color:lightgray;
}

.pkz_main input {
	background-color: #ffffff;
    margin-left:5px;
    color:blue;
}



.pkz_feature_label {
    font-weight: bold;
}

.pkz_feature_extra {
    font-size:80%;
    margin-left:5px;
}

.pkz_feature_editor_value {
    color:green;
    margin-left:5px;

}

.pkz_feature_editor_empty  {
    color:red;
    margin-left:5px;

}

.pkz_button_hover {
    border:1px dashed black;
    margin:5px;
    padding:2px;
    text-align:center;
}

.pkz_button_hover:hover {
    cursor: crosshair;
    background-color: lightslategray;
}

.pkz_specifications {
   column-count: 2;
   -webkit-column-count: 2;
   -moz-column-count: 2;
   column-rule: 1px dashed;
   -webkit-column-rule: 1px dashed;
   -moz-column-rule: 1px dashed;
}

.pkz_dimension_level_1 {
    margin-top:5px;
    background-color:lightgray;
    margin-left:10px;
    width:390px;
    float:left;
}

.pkz_dimension_level_2 {
    margin-left:30px;
    margin-top:5px;
    width:370px;
    border-bottom:1px solid black;
    float:left;
}

.pkz_dimension_level_3 {
    margin-left:50px;
    width:350px;
    border-bottom:1px dashed black;
    margin-top:2px;
    float:left;
}

.pkz_specification_level_1 {
    margin-top:5px;
    background-color:lightgray;
    margin-left:10px;
}

.pkz_specification_level_2 {
    margin-left:30px;
    margin-top:5px;
}

.pkz_specification_level_3 {
    margin-left:50px;
    margin-top:2px;
}

.pkz_specification_level_4 {
    margin-left:70px;
}

.pkz_classification {
	position: relative;
	width: 91px;
	height: 17px;
}

.pkz_category_title {
    margin-top:5px;
    background-color:lightgray;
}

.pkz_dimension_explanation {
    margin-bottom:5px;
    width:900px;
}
.pkz_dimension_explanation a {
    color:#00c0ff
}


.pkz_dimension_explanation tr th {
    text-align:center;
    font-weight:normal;
    color:#ff8a00;
}

.pkz_dimension_explanation tr td {
    text-align:center;
}

.pkz_label { color:gray; }
.pkz_field { color:darkgray; }
.pkz_list { border-bottom:1px solid black; padding-bottom:2px;}
.pkz_list div { margin-bottom:2px;""}
.pkz_clearBoth { clear:both; margin-top:2px;}
.pkz_autocomplete_select { display:none; }
.pkz_comparator_operator_type { font-size:120%; font-weight:bold; margin-top:5px;}


.pkz_next { margin-left:30px;}
.pkz_link { color:orange; }
.pkz_small { font-size:80%; }
.pkz_bold { font-weight:bold; }
.pkz_bottom_dashed td { border-bottom:1px dashed black; vertical-align : top; }
.pkz_paragraph p { padding:1px; margin:0px;}