.treetable_container {
}



.product_header {
    width:150px;
    border-bottom:1px solid darkgray;
    border-right:1px solid darkgray;
    background-color:lightgray;
    text-align:center;
    font-weight:bold;
}

.feature_header {
    border-right:1px solid darkgray;
    border-bottom:1px solid darkgray;
    font-weight:bold;
    background-color:lightgray;
}

.feature_product_header {
    width:300px;

}

.feature_value {
    text-align:center;

}

.feature_edit {
    width:100%;
    background-color:yellow;
}

.feature_edit_footer {
    font-size:80%;
    height:1em;
    width:100%;
    position:relative;
    border-top:1px solid black;
    padding-bottom:5px;
}

.feature_edit_footer_save {
    position:absolute; left:0px;
}

.feature_edit_footer_cancel {
    position:absolute; right:0px;
}

