<br/>
<div style="border-bottom:1px solid black;">
  <%= render(:partial => "product_tab_ratings_bis",
             :locals => { :dimension => @current_knowledge.dimension_root, :level => 0, :product => product}) %>
</div>


