


 <table width="100%" border="1" style="margin-top:20px;">
  <tr>
    <th align="center"><%= pluralize(product.tips(:pro).size, "Pro")%>: Do you agree?</th>
    <th align="center"><%= pluralize(product.tips(:con).size, "Con")%> Do you agree?</th></tr>
  <tr>
    <td valign="top">
        <% for pro in product.tips(:pro) %>
            <div><%= pro.to_html %></div>
        <% end %>
    </td>
    <td valign="top">
        <% for pro in product.tips(:con) %>
            <div><%= pro.to_html %></div>
        <% end %>
    </td>
  </tr>
</table>
