

<ul class="buy">
    <li>
        <h3>Buy / Typical price</h3>

        <table>
            <% for offer in product.offers %>
              <tr>
                <td class="src" title="<%= offer.conditions %>">
                  <%= offer_title(offer) %>
                  <%= " *" if offer.conditions %>
                </td>
                <td class="prc"><%= '$ %.2f' % offer.amount %></td>
              </tr>
            <% end %>

        </table>
    </li>
  <li>
    <h3>otto</h3>
    <p>With plan: $ 199 to $ 299</p>
  </li>
</ul>


