<div class="pkz_specifications">
  <%= render(:partial => "/home/product_tab_specifications_bis", :locals => {:specifications => @current_knowledge.specification_roots, :product => product }) %>
</div>


