
<div class="pkz_specifications">
    <% for specification in knowledge.specifications %>
        <% if true or specification.should_display?(product) %>
            <div class="pkz_specification_level_<%= specification.level %>">
              <b><%= specification.get_feature_html %></b>
              <%= specification.get_value_html(product) %>
            </div>
        <% end %>
    <% end %>
</div>


