<% hash_category_reviews = product.reviews.group_by(&:category) %>

<br/><%= link_to("create a new review for #{product.label} ...", "/review_new/#{knowledge.id}/#{product.id}") %>

<% for category, weight in Review.categories %>


    <% if hash_category_reviews and reviews = hash_category_reviews[category] %>

        <div class="pkz_category_title" style="padding-left:0px;" ><%= category %></div>
        <% for review in reviews %>
            <%= render(:partial => "/reviews/short", :locals => {:review => review } ) %>
        <% end %>

    <% end %>

<% end %>




