

<% if product.idurl != "htc_droid_eris" %>

 <table width="100%" border="1" style="margin-top:20px;">
  <tr><th align="center">Pros</th><th align="center">Cons</th></tr>
  <tr><td>.</td><td>.</td></tr>
</table>

    <% else %>

        <table >
          <tr>
            <td>
              <h3>Pro: Do you agree?</h3>
          <table valign="top">
						<tr>
							<td><span id="crp_39358">5MP camera</span>

								</td><td><span class="up" id="crs_39358">+7</span><img height="16" width="16" alt="agree" src="/images/thumb-up-off.gif" id="cra_39358"><img height="16" width="16" alt="disagree" src="/images/thumb-down-off.gif" id="crd_39358">

						</td>
                        </tr>



						<tr>
							<td><span id="crp_39347">microSDHC memory expansion</span>

								</td><td><span class="up" id="crs_39347">+6</span><img height="16" width="16" alt="agree" src="/images/thumb-up-off.gif" id="cra_39347"><img height="16" width="16" alt="disagree" src="/images/thumb-down-off.gif" id="crd_39347">

						</td>
                        </tr>



						<tr>
							<td><span id="crp_39357">affordable ($99 after rebate and with contract)</span>

								</td><td><span class="up" id="crs_39357">+6</span><img height="16" width="16" alt="agree" src="/images/thumb-up-off.gif" id="cra_39357"><img height="16" width="16" alt="disagree" src="/images/thumb-down-off.gif" id="crd_39357">

						</td>
                        </tr>



						<tr>
							<td><span id="crp_39359">WiFi</span>

								</td><td><span class="up" id="crs_39359">+6</span><img height="16" width="16" alt="agree" src="/images/thumb-up-off.gif" id="cra_39359"><img height="16" width="16" alt="disagree" src="/images/thumb-down-off.gif" id="crd_39359">

						</td>
                        </tr>



						<tr>
							<td><span id="crp_39364">open Android OS</span>

								</td><td><span class="up" id="crs_39364">+6</span><img height="16" width="16" alt="agree" src="/images/thumb-up-off.gif" id="cra_39364"><img height="16" width="16" alt="disagree" src="/images/thumb-down-off.gif" id="crd_39364">

						</td>
                        </tr>



						<tr>

                            <td><span id="crp_39348">3.5mm audio output</span>

								</td><td><span class="up" id="crs_39348">+5</span><img height="16" width="16" alt="agree" src="/images/thumb-up-off.gif" id="cra_39348"><img height="16" width="16" alt="disagree" src="/images/thumb-down-off.gif" id="crd_39348">

						</td>
                        </tr>



						<tr>
							<td><span id="crp_39356">HTC Hero-like trackball for navigation</span>

								</td><td><span class="up" id="crs_39356">+5</span><img height="16" width="16" alt="agree" src="/images/thumb-up-off.gif" id="cra_39356"><img height="16" width="16" alt="disagree" src="/images/thumb-down-off.gif" id="crd_39356">

						</td></tr>



						<tr>
							<td><span id="crp_39968">improved HTC keyboard is superior to the stock Android one</span>

								</td><td><span class="up" id="crs_39968">+5</span><img height="16" width="16" alt="agree" src="/images/thumb-up-off.gif" id="cra_39968"><img height="16" width="16" alt="disagree" src="/images/thumb-down-off.gif" id="crd_39968">

						</td></tr>



						<tr>
							<td><span id="crp_39969">multi-touch pinch to zoom functionality</span>

								</td><td><span class="up" id="crs_39969">+5</span><img height="16" width="16" alt="agree" src="/images/thumb-up-off.gif" id="cra_39969"><img height="16" width="16" alt="disagree" src="/images/thumb-down-off.gif" id="crd_39969">

						</td></tr>



						<tr>
							<td><span id="crp_40246">cellphone capabilities integrate with Google account</span>

								</td><td><span class="up" id="crs_40246">+5</span><img height="16" width="16" alt="agree" src="/images/thumb-up-off.gif" id="cra_40246"><img height="16" width="16" alt="disagree" src="/images/thumb-down-off.gif" id="crd_40246">

						</td></tr>



						<tr>
							<td><span id="crp_40247">Wide variety of apps, many free</span>

								</td><td><span class="up" id="crs_40247">+5</span><img height="16" width="16" alt="agree" src="/images/thumb-up-off.gif" id="cra_40247"><img height="16" width="16" alt="disagree" src="/images/thumb-down-off.gif" id="crd_40247">

						</td></tr>



						<tr>
							<td><span id="crp_42981">December 2009 firmware update fixes bugs, improves functionality - but still not Android 2.0</span>

								</td><td><span class="up" id="crs_42981">+1</span><img height="16" width="16" alt="agree" src="/images/thumb-up-off.gif" id="cra_42981"><img height="16" width="16" alt="disagree" src="/images/thumb-down-off.gif" id="crd_42981">

						</td></tr>



                        <tr>
                          <td>
                            <textarea cols="45" rows="2" id="protext">Type each PRO statement here. Use point form. Add a few.</textarea>
                          </td>
                            <td ><input type="button" id="ProButton" value="Submit">
                                </td>
                        </tr>
                     </table>

            </td>


            <td valign="top">

                       <h3>Cons:  Do you agree?</h3>
          <table valign="top">


						<tr>
							<td><span id="crp_39360">mail in rebate, arghh!</span>

								</td><td><span class="up" id="crs_39360">+5</span><img height="16" width="16" alt="agree" src="/images/thumb-up-off.gif" id="cra_39360"><img height="16" width="16" alt="disagree" src="/images/thumb-down-off.gif" id="crd_39360">

						</td></tr>



						<tr>
							<td><span id="crp_39345">old ARM11 core at only 528MHz (stable platform but mediocre performance)</span>

								</td><td><span class="up" id="crs_39345">+4</span><img height="16" width="16" alt="agree" src="/images/thumb-up-off.gif" id="cra_39345"><img height="16" width="16" alt="disagree" src="/images/thumb-down-off.gif" id="crd_39345">

						</td></tr>



						<tr>
							<td><span id="crp_39346">only Android 1.5 at initial release (even the G1 is already updated to 1.6!)</span>

								</td><td><span class="up" id="crs_39346">+4</span><img height="16" width="16" alt="agree" src="/images/thumb-up-off.gif" id="cra_39346"><img height="16" width="16" alt="disagree" src="/images/thumb-down-off.gif" id="crd_39346">

						</td></tr>



						<tr>
							<td><span id="crp_48047">Battery life totally sucks,  only lasts 4-6 hours generally.</span>

								</td><td><span class="up" id="crs_48047">+1</span><img height="16" width="16" alt="agree" src="/images/thumb-up-off.gif" id="cra_48047"><img height="16" width="16" alt="disagree" src="/images/thumb-down-off.gif" id="crd_48047">

						</td></tr>



						<tr>
							<td><span id="crp_39363">no physical QWERTY keyboard</span>

								</td><td><span class="down" id="crs_39363">-1</span><img height="16" width="16" alt="agree" src="/images/thumb-up-off.gif" id="cra_39363"><img height="16" width="16" alt="disagree" src="/images/thumb-down-off.gif" id="crd_39363">

						</td></tr>




			<tr>
				<td class="text"><textarea cols="45" rows="2" id="context">Type each CON statement here. Use point form. Add a few.</textarea></td>
				<td class="crbutton"><input type="button" id="ConButton" value="Submit"></td>
			</tr>

       </table>





                 </td>
          </tr>
        </table>


	<div style="border-top: 1px dashed rgb(134, 163, 147); margin-top: 10px; padding-top: 10px;" class="item subtitle2">

			<div> 8 people added to this review by submitting or voting on pros and cons. <strong>Add your say!</strong>
			<a rel="nofollow" href="/htc-droid-eris/main/cr_mode_1/#pros_cons">See individual votes È</a></div>
	</div>

<% end %>