<div id="main">
    <div class="box952">

        <h1>Let's find your next phone</h1>
        <ul class="advisors">
            <li><img src="/images/gene/phone1.png" />All Cell Phone Advisor<a href="/test_quizz"><p></p></a></li>
            <li><img src="/images/gene/phone2.png" />Smartphone Advisor<a href="/test_quizz"><p></p></a></li>
            <li class="last"><img src="/images/gene/phone3.png" />Camera phone Advisor<a href="/test_quizz"><p></p></a></li>
            <div class="spcr"></div>
        </ul>

        stay tuned more to come
    </div>
</div>
<div class="boxLwr">
    <ul id="news">
        <li>
            <ul class="inner">
                <h1>News and updates</h1>
                <li class="first">

                <img src="/images/gene/newsPhone1.png" />
                <h2><a href="#">Palm Pre - the beginning of the end for Palm?</a></h2>
                1 hour ago<br />
                <p>text text text text text text text text text text text texttext text text</p>
                <a href="#" class="more">more</a>
                </li>
                <li>

                <img src="/images/gene/newsPhone1.png" />
                <h2><a href="#">Palm Pre - the beginning of the end for Palm?</a></h2>
                1 hour ago<br />
                <p>text text text text text text text text text text text texttext text text</p>
                <a href="#" class="more">more</a>
                </li>
            </ul>

        </li>
     </ul>
     <ul id="welcome">
         <li>
            <ul class="inner">
                <h1>Welcome to pikizi</h1>
                <li class="first">
                <p>Looking for the <a href="#">best cell phone, smartphone
                or camera?</a> One that suits your needs and
                preferences? Let pikizi help you pick the right
                product for you.</p>


                <p>The pikizi advisors help you make the smart
                pick by answering just a few personalized
                questions. We’ll then make a recommendation
                of our top picks for you.</p>

                <p>To begin, click on the topic of your choice &#8211;
                cell phones, smart phones or cameras.</p>
                </li>
            </ul>
         </li>
    </ul>
</div>
