<div id="main">
    <div class="box952">

        <h1>iPhone 3GS</h1>
        <!--<ul class="bugRt">
            <li class="backAd"><a href="#">back to advisor</a></li>
            <li class="answers">12</li> 
        </ul>-->
        <div id="search_boxBg">
            <div class="spcr"></div>
        <ul class="one">
            <li class="img">
                <img src="/images/gene/iPhone3Gfrontback.png" />
            </li>

            <li class="details  blank">
                <table>
                    <tr>
                        <td>Model:</td>
                        <td class="lft"><strong>iPhone 3GS</strong></td>
                    </tr>
                    <tr>
                        <td>Manufacturer</td>

                        <td class="lft"><strong>Apple</strong></td>
                    </tr>
                    <tr>
                        <td>Carrier:</td>
                        <td class="lft"><strong>AT&T</strong></td>
                    </tr>
                    <tr>

                        <td>Rating:</td>
                        <td class="lft"><ul class='star-rating'>
                    <li class='current-rating' style="width:42px;">Currently 3.5/5 Stars.</li>
                </ul></td>
                    </tr>
                </table>
            </li>
            <li class="fit advisor">

                <p>Is it a good fit?</p>
                Try our advisor
                <a href="#"><img src="/images/gene/startBtnBg.png"</a>
            </li>
            <div class="spcr"></div>
        </ul>
        <ul class="buy">
            <li>
                <h3>Buy</h3>

                <table>
                    <tr>
                        <td class="src"><a href="#">Amazon.com</a></td>
                        <td class="prc">$299</td>
                    </tr>
                    <tr>
                        <td class="src"><a href="#">Apple</a></td>

                        <td class="prc">$299</td>
                    </tr>
                    <tr>
                        <td class="src"><a href="#">AT&amp;T</a></td>
                        <td class="prc">$299</td>
                    </tr>
                    <tr>

                        <td class="src"><a href="#">BestBuy</a></td>
                        <td class="prc">$299</td>
                    </tr>
                </table>
            </li>
            <li>
            <h3>Typical price</h3>

            <p>With plan: $ 199 to $ 299</p>
            <p>Unlocked: $ 599 to 699</p>
            </li>
        </ul>
         </div>
         <!-- HERE IS WHERE THE ADVISOR RESULTS GO-->
         <div class="spcr"></div>
    </div>

</div>
<div class="boxLwr">
    <ul class="tabs">
        <li><a class="overview" href="#" style="background-position:left top">Overview</a></li>
        <li><a href="#">Pros &amp; Cons</a></li>
        <li><a href="#">Specifications</a></li>

        <li><a href="#">Reviews</a></li>
        <li><a class="last" href="#">Prices</a></li>
    </ul>
    <div class="box952">
        <div class="spcr"></div>
			
        <div class="spcr"></div>
    </div>
</div>
