<div id="main">
    <div class="box952">

        <h1>Results</h1>
        <ul class="bugRt">
            <li><a href="#">save</a></li>
            <li><a href="#">| share</a></li>
            <li class="iconBtn"><a href="#"><img src="/images/gene/twitTxt.jpg" /></a></li>
            <li class="iconBtn"><a href="#"><img src="/images/gene/faceBkTxt.jpg" /></a></li>
            <li class="backAd"><a href="/test_quizz">back to advisor</a></li>

            <li class="answers">12</li> 
        </ul>
        <div id="search_boxBg">
            <div class="spcr"></div>
        <ul class="one">
            <h3>Iphone 3GS</h3>
            <li class="img">
                <img src="/images/gene/iphone3GS.jpg" />

            </li>
            <li class="details">
                <table>
                    <tr>
                        <td>Model:</td>
                        <td class="lft"><strong>iPhone 3GS</strong></td>
                    </tr>
                    <tr>

                        <td>Brand</td>
                        <td class="lft"><strong>Apple</strong></td>
                    </tr>
                    <tr>
                        <td>Carrier:</td>
                        <td class="lft"><strong>AT&T</strong></td>
                    </tr>

                    <tr>
                        <td>Rating:</td>
                        <td class="lft"><ul class='star-rating'>
                    <li class='current-rating' style="width:16px;">Currently 3.5/5 Stars.</li>
                </ul></td>
                    </tr>
                    <tr>
                        <td>Best Price:</td>

                        <td class="lft blue"><strong>$243.95</strong></td>
                    </tr>
                </table>
                <ul class="icons">
                    <li><a href="#"><img src="/images/gene/iconCart.png"</a></li>
                    <li><a href="#"><img src="/images/gene/iconSrch.png"</a></li>
                    <li><a href="#"><img src="/images/gene/iconHrt.png"</a></li>
                    <li><a href="#"><img src="/images/gene/iconX.png"</a></li>

                    <li><a href="#"><img src="/images/gene/iconFace.png"</a></li>
                    <li><a href="#"><img src="/images/gene/iconTwit.png"</a></li>
                    <div class="spcr"></div>
                </ul>
                <a href="/test_product_page_results">Product Details</a>
            </li>
            <li class="fit">
                <table>

                    <tr>
                        <td class="header">Personal Fit</td>
                        <td class="countr"><div class="count">80%</div></td>
                    </tr>
                    <tr>
                        <td>Overall fit</td>
                        <td class="bar"><ul class='star-rating'>

                <li class='current-rating' style="width:42px;">Currently 3.5/5 Stars.</li>
              </ul></td>
                        <td class="grn">8</td>
                    </tr>
                    <tr>
                        <td>Communication</td>
                        <td class="bar"><ul class='star-rating'>

                <li class='current-rating' style="width:42px;">Currently 3.5/5 Stars.</li>
              </ul></td>
                        <td class="grn">6</td>
                    </tr>
                    <tr>
                        <td>Hardware</td>
                        <td class="bar"><ul class='star-rating'>

                <li class='current-rating' style="width:42px;">Currently 3.5/5 Stars.</li>
              </ul></td>
                        <td class="grn">10</td>
                    </tr>
                    <tr>
                        <td>Lifestyle</td>
                        <td class="bar"><ul class='star-rating'>

                <li class='current-rating' style="width:42px;">Currently 3.5/5 Stars.</li>
              </ul></td>
                        <td class="grn">8</td>
                    </tr>
                    <tr>
                        <td>Expert rating</td>
                        <td class="bar"><ul class='star-rating'>

                <li class='current-rating' style="width:42px;">Currently 3.5/5 Stars.</li>
              </ul></td>
                        <td class="grn">7</td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td class="bar"><ul class='star-rating'>

                <li class='current-rating' style="width:42px;">Currently 3.5/5 Stars.</li>
              </ul></td>
                        <td class="grn">3</td>
                    </tr>
                </table>
            </li>
            <div class="spcr"></div>
        </ul>

        <ul class="two">
            <h3>Iphone 3GS</h3>
            <li class="img">
                <img src="/images/gene/iphone3GS.jpg" />
            </li>
            <li class="details">
                <table>
                    <tr>

                        <td>Model:</td>
                        <td class="lft"><strong>iPhone 3GS</strong></td>
                    </tr>
                    <tr>
                        <td>Brand</td>
                        <td class="lft"><strong>Apple</strong></td>
                    </tr>

                    <tr>
                        <td>Carrier:</td>
                        <td class="lft"><strong>AT&T</strong></td>
                    </tr>
                    <tr>
                        <td>Rating:</td>
                        <td class="lft"><ul class='star-rating'>

                    <li class='current-rating' style="width:16px;">Currently 3.5/5 Stars.</li>
                </ul></td>
                    </tr>
                    <tr>
                        <td>Best Price:</td>
                        <td class="lft blue"><strong>$243.95</strong></td>
                    </tr>

                </table>
                <ul class="icons">
                    <li><a href="#"><img src="/images/gene/iconCart.png"</a></li>
                    <li><a href="#"><img src="/images/gene/iconSrch.png"</a></li>
                    <li><a href="#"><img src="/images/gene/iconHrt.png"</a></li>
                    <li><a href="#"><img src="/images/gene/iconX.png"</a></li>
                    <li><a href="#"><img src="/images/gene/iconFace.png"</a></li>
                    <li><a href="#"><img src="/images/gene/iconTwit.png"</a></li>
                    <div class="spcr"></div>

                </ul>
                <a href="#">Product Details</a>
            </li>
            <li class="fit">
                <table>
                    <tr>
                        <td class="header">Personal Fit</td>
                        <td class="countr"><div class="count">80%</div></td>

                    </tr>
                    <tr>
                        <td>Overall fit</td>
                        <td class="bar"><ul class='star-rating'>
                <li class='current-rating' style="width:42px;">Currently 3.5/5 Stars.</li>
              </ul></td>
                        <td class="grn">8</td>

                    </tr>
                    <tr>
                        <td>Communication</td>
                        <td class="bar"><ul class='star-rating'>
                <li class='current-rating' style="width:42px;">Currently 3.5/5 Stars.</li>
              </ul></td>
                        <td class="grn">6</td>

                    </tr>
                    <tr>
                        <td>Hardware</td>
                        <td class="bar"><ul class='star-rating'>
                <li class='current-rating' style="width:42px;">Currently 3.5/5 Stars.</li>
              </ul></td>
                        <td class="grn">10</td>

                    </tr>
                    <tr>
                        <td>Lifestyle</td>
                        <td class="bar"><ul class='star-rating'>
                <li class='current-rating' style="width:42px;">Currently 3.5/5 Stars.</li>
              </ul></td>
                        <td class="grn">8</td>

                    </tr>
                    <tr>
                        <td>Expert rating</td>
                        <td class="bar"><ul class='star-rating'>
                <li class='current-rating' style="width:42px;">Currently 3.5/5 Stars.</li>
              </ul></td>
                        <td class="grn">7</td>

                    </tr>
                    <tr>
                        <td>Price</td>
                        <td class="bar"><ul class='star-rating'>
                <li class='current-rating' style="width:42px;">Currently 3.5/5 Stars.</li>
              </ul></td>
                        <td class="grn">3</td>

                    </tr>
                </table>
            </li>
            <div class="spcr"></div>
        </ul>
        <ul class="three">
            <h3>Iphone 3GS</h3>
            <li class="img">

                <img src="/images/gene/iphone3GS.jpg" />
            </li>
            <li class="details">
                <table>
                    <tr>
                        <td>Model:</td>
                        <td class="lft"><strong>iPhone 3GS</strong></td>
                    </tr>

                    <tr>
                        <td>Brand</td>
                        <td class="lft"><strong>Apple</strong></td>
                    </tr>
                    <tr>
                        <td>Carrier:</td>
                        <td class="lft"><strong>AT&T</strong></td>

                    </tr>
                    <tr>
                        <td>Rating:</td>
                        <td class="lft"><ul class='star-rating'>
                   <li class='current-rating' style="width:16px;">Currently 3.5/5 Stars.</li>
                </ul></td>
                    </tr>
                    <tr>

                        <td>Best Price:</td>
                        <td class="lft blue"><strong>$243.95</strong></td>
                    </tr>
                </table>
                <ul class="icons">
                    <li><a href="#"><img src="/images/gene/iconCart.png"</a></li>
                    <li><a href="#"><img src="/images/gene/iconSrch.png"</a></li>
                    <li><a href="#"><img src="/images/gene/iconHrt.png"</a></li>

                    <li><a href="#"><img src="/images/gene/iconX.png"</a></li>
                    <li><a href="#"><img src="/images/gene/iconFace.png"</a></li>
                    <li><a href="#"><img src="/images/gene/iconTwit.png"</a></li>
                    <div class="spcr"></div>
                </ul>
                <a href="#">Product Details</a>
            </li>
            <li class="fit">

                <table>
                    <tr>
                        <td class="header">Personal Fit</td>
                        <td class="countr"><div class="count">80%</div></td>
                    </tr>
                    <tr>
                        <td>Overall fit</td>

                        <td class="bar"><ul class='star-rating'>
                <li class='current-rating' style="width:42px;">Currently 3.5/5 Stars.</li>
              </ul></td>
                        <td class="grn">8</td>
                    </tr>
                    <tr>
                        <td>Communication</td>

                        <td class="bar"><ul class='star-rating'>
                <li class='current-rating' style="width:42px;">Currently 3.5/5 Stars.</li>
              </ul></td>
                        <td class="grn">6</td>
                    </tr>
                    <tr>
                        <td>Hardware</td>

                        <td class="bar"><ul class='star-rating'>
                <li class='current-rating' style="width:42px;">Currently 3.5/5 Stars.</li>
              </ul></td>
                        <td class="grn">10</td>
                    </tr>
                    <tr>
                        <td>Lifestyle</td>

                        <td class="bar"><ul class='star-rating'>
                <li class='current-rating' style="width:42px;">Currently 3.5/5 Stars.</li>
              </ul></td>
                        <td class="grn">8</td>
                    </tr>
                    <tr>
                        <td>Expert rating</td>

                        <td class="bar"><ul class='star-rating'>
                <li class='current-rating' style="width:42px;">Currently 3.5/5 Stars.</li>
              </ul></td>
                        <td class="grn">7</td>
                    </tr>
                    <tr>
                        <td>Price</td>

                        <td class="bar"><ul class='star-rating'>
                <li class='current-rating' style="width:42px;">Currently 3.5/5 Stars.</li>
              </ul></td>
                        <td class="grn">3</td>
                    </tr>
                </table>
            </li>
            <div class="spcr"></div>

        </ul>
         </div>
         <!-- HERE IS WHERE THE ADVISOR RESULTS GO-->
         <div class="spcr"></div>
    </div>
</div>
