<div id="main">
    <div class="box952">

        <h1>Search products</h1>
        <h2>Browse and Search Products</h2>
        <div id="search_boxBg">
            <form id="search_form" method="post" action="/">
                <input type="text" id="S" value="" class="swap_value" />
                <input type="image" src="images/gene/trns.gif" width="32" height="32" id="Go" alt="Search" title="Search" />
            </form>
         </div>

         <!-- HERE IS WHERE THE ADVISOR RESULTS GO-->
         <div class="spcr"></div>
    </div>
</div>
<div class="boxLwr">
    <div class="box952">
        <h1>Most Popular</h1>
        <div class="spcr"></div>

        <ul>
            <h3>Cell Phones</h3>
            <li>
                <img src="images/gene/phone1Prod.jpg" />
                <h4><a href="#">Nokia N-71</a></h4>
                <ul class='star-rating'>
                    <li><a href='#' title='1 star out of 5' class='one-star'>1</a></li>

                    <li><a href='#' title='2 stars out of 5' class='two-stars'>2</a></li>
                    <li><a href='#' title='3 stars out of 5' class='three-stars'>3</a></li>
                    <li><a href='#' title='4 stars out of 5' class='four-stars'>4</a></li>
                    <li><a href='#' title='5 stars out of 5' class='five-stars'>5</a></li>
                </ul>
               <p> $ 444.99 to $ 444.99<br />

                Blake</p>
            </li>
            <li>
                <img src="images/gene/phone1Prod.jpg" />
                <h4><a href="#">Nokia N-71</a></h4>
                <ul class='star-rating'>
                    <li><a href='#' title='1 star out of 5' class='one-star'>1</a></li>

                    <li><a href='#' title='2 stars out of 5' class='two-stars'>2</a></li>
                    <li><a href='#' title='3 stars out of 5' class='three-stars'>3</a></li>
                    <li><a href='#' title='4 stars out of 5' class='four-stars'>4</a></li>
                    <li><a href='#' title='5 stars out of 5' class='five-stars'>5</a></li>
                </ul>
                $ 444.99 to $ 444.99<br />

                Blake
            </li>
            <li>
                <img src="images/gene/phone1Prod.jpg" />
                <h4><a href="#">Nokia N-71</a></h4>
                <ul class='star-rating'>
                    <li><a href='#' title='1 star out of 5' class='one-star'>1</a></li>
                    <li><a href='#' title='2 stars out of 5' class='two-stars'>2</a></li>

                    <li><a href='#' title='3 stars out of 5' class='three-stars'>3</a></li>
                    <li><a href='#' title='4 stars out of 5' class='four-stars'>4</a></li>
                    <li><a href='#' title='5 stars out of 5' class='five-stars'>5</a></li>
                </ul>
                $ 444.99 to $ 444.99<br />
                Blake
            </li>

            <div class="spcr"></div>
        </ul>
        <ul>
            <h3>Smartphones</h3>
            <li>
                <img src="images/gene/phone1Prod.jpg" />
                <h4><a href="#">Nokia N-71</a></h4>
                <ul class='star-rating'>

                    <li><a href='#' title='1 star out of 5' class='one-star'>1</a></li>
                    <li><a href='#' title='2 stars out of 5' class='two-stars'>2</a></li>
                    <li><a href='#' title='3 stars out of 5' class='three-stars'>3</a></li>
                    <li><a href='#' title='4 stars out of 5' class='four-stars'>4</a></li>
                    <li><a href='#' title='5 stars out of 5' class='five-stars'>5</a></li>
                </ul>

                $ 444.99 to $ 444.99<br />
                Blake
            </li>
            <li>
                <img src="images/gene/phone1Prod.jpg" />
                <h4><a href="#">Nokia N-71</a></h4>
                <ul class='star-rating'>
                    <li><a href='#' title='1 star out of 5' class='one-star'>1</a></li>

                    <li><a href='#' title='2 stars out of 5' class='two-stars'>2</a></li>
                    <li><a href='#' title='3 stars out of 5' class='three-stars'>3</a></li>
                    <li><a href='#' title='4 stars out of 5' class='four-stars'>4</a></li>
                    <li><a href='#' title='5 stars out of 5' class='five-stars'>5</a></li>
                </ul>
                $ 444.99 to $ 444.99<br />

                Blake
            </li>
            <li>
                <img src="images/gene/phone1Prod.jpg" />
                <h4><a href="#">Nokia N-71</a></h4>
                <ul class='star-rating'>
                    <li><a href='#' title='1 star out of 5' class='one-star'>1</a></li>
                    <li><a href='#' title='2 stars out of 5' class='two-stars'>2</a></li>

                    <li><a href='#' title='3 stars out of 5' class='three-stars'>3</a></li>
                    <li><a href='#' title='4 stars out of 5' class='four-stars'>4</a></li>
                    <li><a href='#' title='5 stars out of 5' class='five-stars'>5</a></li>
                </ul>
                $ 444.99 to $ 444.99<br />
                Blake
            </li>

            <div class="spcr"></div>
        </ul>
        <ul class="last">
            <h3>Cameras</h3>
            <li>
                <img src="images/gene/phone1Prod.jpg" />
                <h4><a href="#">Nokia N-71</a></h4>
                <ul class='star-rating'>

                    <li><a href='#' title='1 star out of 5' class='one-star'>1</a></li>
                    <li><a href='#' title='2 stars out of 5' class='two-stars'>2</a></li>
                    <li><a href='#' title='3 stars out of 5' class='three-stars'>3</a></li>
                    <li><a href='#' title='4 stars out of 5' class='four-stars'>4</a></li>
                    <li><a href='#' title='5 stars out of 5' class='five-stars'>5</a></li>
                </ul>

                $ 444.99 to $ 444.99<br />
                Blake
            </li>
            <li>
                <img src="images/gene/phone1Prod.jpg" />
                <h4><a href="#">Nokia N-71</a></h4>
                <ul class='star-rating'>
                    <li><a href='#' title='1 star out of 5' class='one-star'>1</a></li>

                    <li><a href='#' title='2 stars out of 5' class='two-stars'>2</a></li>
                    <li><a href='#' title='3 stars out of 5' class='three-stars'>3</a></li>
                    <li><a href='#' title='4 stars out of 5' class='four-stars'>4</a></li>
                    <li><a href='#' title='5 stars out of 5' class='five-stars'>5</a></li>
                </ul>
                $ 444.99 to $ 444.99<br />

                Blake
            </li>
            <li>
                <img src="images/gene/phone1Prod.jpg" />
                <h4><a href="#">Nokia N-71</a></h4>
                <ul class='star-rating'>
                    <li><a href='#' title='1 star out of 5' class='one-star'>1</a></li>
                    <li><a href='#' title='2 stars out of 5' class='two-stars'>2</a></li>

                    <li><a href='#' title='3 stars out of 5' class='three-stars'>3</a></li>
                    <li><a href='#' title='4 stars out of 5' class='four-stars'>4</a></li>
                    <li><a href='#' title='5 stars out of 5' class='five-stars'>5</a></li>
                </ul>
                $ 444.99 to $ 444.99<br />
                Blake
            </li>

            <div class="spcr"></div>
        </ul>
        <div class="spcr"></div>
    </div>
</div>
