<div id="main">
  <div class="box952">
    <h1>Advisor: <strong>Cellphone</strong></h1>

    <ul class="bugRt">
      <li class="backAd"><a href="#">back to advisor</a></li>
      <li class="answers">12</li>
    </ul>
    <div id="quizzBox">
      <h2>1. What form factor(s) do you have in mind?</h2>
    
      <ul class="advisors">

        <li><img src="/images/gene/phone1.png" />
          <input type="CHECKBOX" name="option1" value="">
          candy bar<a href="#"><img src="/images/gene/iconSrch16.png" /></a></li>
        <li><img src="/images/gene/phone2.png" />
          <input type="CHECKBOX" name="option1" value="">
          touch screen<a href="#"><img src="/images/gene/iconSrch16.png" /></a></li>
        <li><img src="/images/gene/phone3.png" />
          <input type="CHECKBOX" name="option1" value="">

          candy bar<a href="#"><img src="/images/gene/iconSrch16.png" /></a></li>
        <li><img src="/images/gene/phone1.png" />
          <input type="CHECKBOX" name="option1" value="">
          slider<a href="#"><img src="/images/gene/iconSrch16.png" /></a></li>
        <li class="last"><img src="/images/gene/phone3.png" />
          <input type="checkbox" name="option1" value="">
          swivel<a href="#"><img src="/images/gene/iconSrch16.png" /></a></li>

        <div class="spcr"></div>
      </ul>
      <ul class="bugRt nav">
      <li class="dir">Select one or more of the products then click Next.</li>
        <li class="backAdBk"><a href="#">back</a></li>
        <li class="backAdNxt"><a href="#">next</a></li>
      </ul>

    </div>
  </div>
</div>
<div class="boxLwr">
  <div class="box952">
    <ul class="bugRt">
      <li class="backAd">Filter by</li>
      <li class="answers"><a href="#">price</a></li>

      <li><a href="#">rating</a></li>
      <li><a href="#">brand</a></li>
      <li><a href="#">carrier</a></li>
    </ul>
    <div class="spcr"></div>
  </div>
</div>
