
<table  width="100%">
  <tr>
    <td></td>
    <td width="320"  valign="top"><%= render(:partial => "/interpretor/products_selector", :locals => { :name => "referent", :opinion => opinion }) %></td>
    <td></td>
  </tr>
</table>