

<div  id="cell_<%= feature.idurl %>" class="feature_edit" >

  <%= feature.get_feature_edit_html %>
  <div style="font-size:90%; position:relative; height:20px;" >
      <a href="#" style="position:absolute; right:0px;">save</a>
      <%= link_to_remote("cancel", :url => { :action => "feature_edit",
                                             :knowledge_idurl => knowledge.idurl,
                                             :feature_idurl => feature.idurl,
                                             :mode => "cancel"  }) %>

  </div>

</div>