<% knowledge.compute_dom_id %>

<table id="thematrix" class="treetable_container" width="<%= 300 + selected_products.size * 150 %>" >
        <tr>
          <td class="feature_product_header"></td>
          <% for product in selected_products %>
            <td class="product_header"><%= product.label %></td>
          <% end %>
        </tr>
        <% for feature in knowledge.features %>
            <%= render(:partial => "/knowledges/show_bis",
                       :locals => { :knowledge => knowledge,
                                    :feature => feature,
                                    :products => selected_products,
                                    :padding_right_px_step => 10,
                                    :padding_right_px_current => 0 }) %>
        <% end %>
</table>

<script>treetable_collapseAll('thematrix')</script>"