<!-- display a list of backgrounds -->
<% for background in backgrounds %>
    <div>
      <h1>Background key=<%= background.key %> type=<%= background.type %></h1>
      <%= background.value %>
    <div>
<% end %>