<div class="pkz_box">
  <%= model_selector(@knowledge, :model) %>



    <div class="pkz_main">
      <div style="border-bottom:1px dashed black; margin-bottom:5px;">
        show value for product
        <%=   select("option", "product_key",
                 @knowledge.product_keys.collect {|pkey| [pkey, pkey] },
                 { :include_blank => true, :selected => @product ? @product.key : nil },
                 :onchange => "window.location = '/show/#{@knowledge.key}/' + document.getElementById('option_product_key').value ") %>
        <small><%= link_to "xml", "/edit/#{@knowledge.key}" %></small>
    </div>
      <%= @knowledge.to_html(@product) %>
    </div>

</div>
