<span id="similar_products_<%= product.id %>">

<% for p in  product.similar_products %>

     <%= link_to_remote(image_tag("icons/status_icon_delete.png", :border => 0),
          :url => {  :action => "delete_similar_product",
                     :id => product.id,
                     :similar_product_id => p.id },
          :html => {}) %>


   <span class="field"><%= p.label %></span>
<% end %>

<%= select_tag("similar_product_new_id",
                   options_for_select([["add a similar product", "nil"]].concat(product.product_collection_html)) ,
                   :onchange => remote_function(:url => { :action => "add_similar_product", :id => product.id },
                                                 :with => "'similar_product_id=' + document.getElementById('similar_product_new_id').value")) %>

</span>