<h2>Specifications<%= image_tag('icons/add.png', :border => 0, :title => "add a new child feature", :style => "margin-left:30px;") %></h2>
<%= render(:partial => "/specifications/list", :locals => { :product => @product}) %>
