<b><%= paragraph.ranking_number %>)</b>
<%= paragraph.content %>
<small>
  <% nb_opinion = Opinion.count(:review_id => review.id, :paragraph_id => paragraph.id);
     link_label = nb_opinion == 0 ? "no opinion" : "<span style='color:orange; font-weight:bold;'>#{pluralize(nb_opinion, 'opinion')}</span>" %>
    <%= link_to_remote(link_label,
        :url => {:controller => "reviews", :action => "open_opinion_creator", :id => review.id, :paragraph_id => paragraph.id}) %>
    ,&nbsp;
    <%= link_to_remote("cut paragraph",
        :url => {:controller => "reviews", :action => "edit_paragraph", :id => review.id, :paragraph_id => paragraph.id}) %>
</small>