<div class="pkz_box">

    <%= model_selector(@knowledge, :reviews) %>

    <div style="border:1px solid black; padding:5px; background-color:white;">
    <% form_for :review, @review, :url => "/reviews/update/#{@review.id}" do |f| %>

          <%= render(:partial => "/reviews/form", :locals => {:review => @review, :f => f }) %>

          <p><%= submit_tag 'Update review' %></p>

    <% end %>
    </div>

    <div style="border:1px solid black; margin-top:10px;  background-color:white;" >
    <%= render(:partial => "products_4_review", :locals => {:review => @review, :knowledge => @knowledge}) %>
    </div>

</div>