<div class="pkz_box">

    <%= model_selector(@current_knowledge, :reviews) %>

    <div style="border:1px solid black; padding:5px;  margin-top:10px;  background-color:white;">
      <h1>Add a new review for <%= @product.label %></h1>
      <% form_for :review, @review, :url => "/reviews/create/#{@product.id}" do |f| %>

            <%= render(:partial => "/reviews/form", :locals => {:review => @review, :f => f }) %>

            <p>
              <%= submit_tag "Create review for #{@product.label}" %>
            </p>

      <% end %>
    </div>
    


</div>